{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ author_detail.first_name }} {{ author_detail.last_name }}</h1>

  {% if author_detail.date_of_birth %}
    <p><strong>Born:</strong> {{ author_detail.date_of_birth }}</p>
  {% endif %}
  {% if author_detail.date_of_death %}
    <p><strong>Died:</strong> {{ author_detail.date_of_death }}</p>
  {% endif %}

  <h2>Books</h2>
  <ul>
    {% for book in author_detail.book_set.all %}
      <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
      </li>
    {% empty %}
      <li>No books by this author.</li>
    {% endfor %}
  </ul>
  
{% endblock %}

{% block sidebar %}
  {{ block.super }}

  {% if perms.catalog.change_author or perms.catalog.delete_author %}
  <hr>
  <ul class="sidebar-nav">
    {% if perms.catalog.change_author %}
      <li><a href="{% url 'author-update' author_detail.id %}">Update author</a></li>
    {% endif %}
    {% if not author.book_set.all and perms.catalog.delete_author %}
      <li><a href="{% url 'author-delete' author_detail.id %}">Delete author</a></li>
    {% endif %}
    </ul>
  {% endif %}

{% endblock %}
