{% extends "base_generic.html" %}

{% block content %}
  <h1>All Borrowed Books</h1>

  {% if bookinstance_list %}
    <ul>
      {% for book in bookinstance_list %}
        <li>
          {{ book.book.title }} — Borrowed by {{ book.borrower.get_username }} — Due: {{ book.due_back }}
        </li>
        {% if perms.catalog.can_mark_returned %}- 
        <a href="{% url 'renew_book_librarian' book.id %}">Renew</a>
        {% endif %}
      {% endfor %}
    </ul>
  {% else %}
    <p>No books are currently borrowed.</p>
  {% endif %}


{% endblock %}
