{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ book_detail.title }}</h1>

  <p><strong>Author:</strong> 
    <a href="{{ book_detail.author.get_absolute_url }}">{{ book_detail.author }}</a>
  </p>

  <p><strong>Summary:</strong> {{ book_detail.summary }}</p>
  <p><strong>ISBN:</strong> {{ book_detail.isbn }}</p>
  <p><strong>Language:</strong> {{ book_detail.language }}</p>
  <p><strong>Genre:</strong> {{ book_detail.genre.all|join:", " }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>

    {% for copy in book_detail.bookinstance_set.all %}
      <hr />
      <p
        class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
        {{ copy.get_status_display }}
      </p>
      {% if copy.status != 'a' %}
        <p><strong>Due to be returned:</strong> {{ copy.due_back }}</p>
      {% endif %}
      <p><strong>Imprint:</strong> {{ copy.imprint }}</p>
      <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
    {% endfor %}
  </div>
{% endblock %}

{% block sidebar %}
  {{ block.super }}

  {% if perms.catalog.change_book or perms.catalog.delete_book %}
    <hr>
    <ul class="sidebar-nav">
      {% if perms.catalog.change_book %}
        <li><a href="{% url 'book-update' book_detail.id %}">Update book</a></li>
      {% endif %}
      {% if perms.catalog.delete_book and not book_detail.bookinstance_set.exists %}
        <li><a href="{% url 'book-delete' book_detail.id %}">Delete book</a></li>
      {% endif %}
    </ul>
  {% endif %}
{% endblock %}
